# Token de Mailtrap (https://mailtrap.io)
#MAILTRAP_TOKEN=tu_token_aqui

# URL del frontend (para el botón de cancelación en el correo)
FRONTEND_URL=http://localhost:5173
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/barberia_krono
GMAIL_USER=barberiakrono@gmail.com
GMAIL_PASS=tbrxsghkfcsnaqsf